.row {
  margin-left: 20px;
  color: #fff;
}
.row__posters {
  /* display flex convrts col to row */
  display: flex;
  /* overflow-y hidden stops the scrolls */
  overflow-y: hidden;
  /* it provide horizontal scrollbar to row */
  overflow-x: scroll;
  padding: 20px;
}

/* keep the functionality working but hide the scrollbar */
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: translate 450ms;
}
.row__poster:hover {
  transform: scale(1.08);
}
/* for the netflix originals */
.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
